* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 194;
  --bg-color: hsl(var(--hue), 5%, 7%);
  --text-color: hsl(var(--hue), 40%, 98%);
  --primary-color: hsl(var(--hue), 100%, 63%);

  --bg-button-primary-color: hsl(var(--hue), 9%, 89%);
  --bg-button-secondary-color: hsl(var(--hue), 97%, 31%);
  
  --button-normal-text-color: hsl(var(--hue), 6%, 21%);
  --button-clicked-text-color: hsl(var(--hue), 40%, 98%);

  font-size: clamp(40%, 1% + 2vw, 62.5%);
}

html.light {
  --bg-color: hsl(var(--hue), 40%, 98%);
  --text-color: hsl(var(--hue), 5%, 7%);
  --button-normal-text-color: hsl(var(--hue), 8%, 37%);

  font-size: clamp(40%, 1% + 2vw, 62.5%);
}

html.light .ph-sun,
html:not(.light) .ph-moon {
  display: none;
}

#toggle-mode {
  position: absolute;
  right: 3.2rem;
  top: 3.2rem;
  font-size: 3.2rem;
  line-height: 0;

  color: var(--text-color);
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;

  margin: -1px;
  padding: 0px;
  border: 0;
  appearance: none;
}

body {
  display: grid;
  min-height: 100vh;
  place-content: center;

  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;

  background-color: var(--bg-color);
  color: var(--text-color);
}

.flex {
  display: flex;
}

.app {
  display: grid;
  grid-template-areas: "main aside";

  width: clamp(54.7rem, 64.1vw, 82.1rem);
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;

  color: var(--text-color);
}

.hide {
  display: none;
}

main {
  grid-area: main;

  width: clamp(21.4rem, 25.1vw, 32.1rem);

  align-self: center;
}

#timer {
  font-size: clamp(8.4rem, 9.8vw, 12.6rem);

  display: flex;
  margin-bottom: 1.7rem;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(2.7rem, 3.1vw, 4rem);
}

#controls button {
  width: clamp(3.2rem, 3.8vw, 4.8rem);
  font-size: 4.8rem;
}

aside {
  grid-area: aside;

  width: clamp(20.5rem, 24.1vw, 30.8rem);

  display: grid;
  grid-template-areas: "forest rain" "coffee-shop fireplace";
  gap: clamp(2.1rem, 2.5vw, 3.2rem);
  justify-self: right;
}

aside button {
  background-color: var(--bg-button-primary-color);
  color: var(--button-normal-text-color);
  border-radius: 1.5rem;
  flex-shrink: 0;

  cursor: pointer;

  font-size: 6.4rem;
}

aside button.active {
  background-color: var(--bg-button-secondary-color);
  color: var(--button-clicked-text-color);
}
